{% extends 'base.html.twig' %}

{% block title %}Hello ProfileCookieController!{% endblock %}

{% block body %}
    <div class="container mt-2 pl-4">
        <section class="content-header pl-1">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i> Espace membre
                    </a>
                </li>
                <li>EasterEgg Cookie</li>
            </ol>
        </section>
        <div class="mt-5">
            <div class="cookie"
                 style="background-image: url('{{ asset('assets/images/cookieLayout.png') }}'); background-repeat: no-repeat; background-size: cover; min-height: 512px; padding-top: 20px; position: relative">
                <div class="text-center h3"><i class="fad fa-cookie"></i> <span id="cookieNumber"> 0 </span></div>
                <div class="row mt-5">
                    <div class="col-md-6 text-center mb-4">
                        <p class="h4 mb-3">Actions:</p>
                        <button class="btn btn-success" id="craftCookie"><i class="fad fa-cookie-bite"></i> Crafter des
                            cookies : <span id="craftCookieNumber">1</span></button>
                        <br>
                    </div>

                    <div class="col-md-6 text-center mb-4">
                        <p class="h4">Upgrades:</p>
                        <button class="btn btn-warning mb-3" id="upgradeField"><i class="fad fa-tools"></i> Améliorer
                            les
                            champs (Lvl : <span id="fieldNumber">1</span> ) Prix: <span id="fieldUpgradePrice"></span>
                            - <span id="filedCookie"></span><i class="fad fa-cookie-bite"></i>
                        </button>
                        <button class="btn btn-danger mb-3" id="upgradeVillager"><i class="fad fa-bed"></i> Embaucher
                            des
                            villageois (Lvl : <span id="villagerNumber">0</span>) Prix: <span
                                    id="villagerUpgradePrice"></span>
                            - <span id="villagerCookie"></span><i class="fad fa-cookie-bite"></i>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </button>

                        <button class="btn btn-success mb-3" id="upgradeGolem"><i class="fad fa-tools"></i> Spawner un
                            golem
                            (Lvl : <span id="golemNumber">1</span> ) Prix: <span id="golemUpgradePrice"></span>
                        </button>

                        <br>
                    </div>
                </div>
            </div>

        </div>
        <script>
            const _0x1db5=['CMvHzhK=','Cg9ZDa==','E3SGCgf0AcGNz2v0x2nVB2TPzsCPih19','y29VA2LLCW==','zMLLBgrZ','DMLSBgfNzxi=','z29Szw1mzxzLBa==','z29Szw1cB29ZDa==','i2nVB2TPzu51BwjLCG==','Dgv4Da==','i2zPzwXKtNvTyMvY','i3zPBgXHz2vYtNvTyMvY','i2nYywz0q29VA2LLtNvTyMvY','i2zPBgvKq29VA2LL','i2zPzwXKvxbNCMfKzvbYAwnL','i3zPBgXHz2vYvxbNCMfKzvbYAwnL','i3zPBgXHz2vYq29VA2LL','i2DVBgvTvxbNCMfKzvbYAwnL','i2DVBgvTtNvTyMvY','wLHmuKq=','s3fxBM8=','Cg93','vwrQv0e=','vhf4Bue=','Dg9fEhbVBMvUDgLHBa==','wLDwBeG=','whrYs2O=','r0HPBvO=','BevRzfe=','CM91BMq=','r2P3wgW=','Bg9N','revXyu0=','s2vnywe=','Cgr4sfq=','tLL3AfO=','i2nYywz0q29VA2LL','y2XPy2S=','CgXwvgy=','ChjLDMvUDerLzMf1Bhq=','i3vWz3jHzgvgAwvSza==','y2Xgqum=','BujQzw8=','i3vWz3jHzgvwAwXSywDLCG==','sKLUzLq=','EeH3A2y=','i3vWz3jHzgvhB2XLBq==','lNbYB2DYzxnZlwjHCG==','y3nZ','D2LKDgG=','yxr0CG==','yxjPys12ywX1zw5VDW==','CMv6DgK=','t29oEM4=','y3vZDg9T','rwfZDgvYrwDNicmZignYywz0zxiGmtaWmdaWmdaWmcbJB29RAwvZ','pgKGy2XHC3m9j2zHzcbMys1JB29RAwuNpJWVAt4Gq29VA2LLtwfZDgvY','CMvK','E3SGCgf0AcGNC2f2zv9JB29RAwuNksb9Fq==','C3rHDgu=','zxjYB3i=','zxjY','shPJqui=','tMXPz0K=','y29VA2LLtwfZDgvY'];const _0x5df9=function(_0x1db557,_0x5df99b){_0x1db557=_0x1db557-0x0;let _0x3ea450=_0x1db5[_0x1db557];if(_0x5df9['GSEeVL']===undefined){var _0x48825b=function(_0x21a586){const _0x1a367e='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+/=';const _0xb5f89c=String(_0x21a586)['replace'](/=+$/,'');let _0x274ae1='';for(let _0x53d1bb=0x0,_0x3630c2,_0x490aab,_0x4b1529=0x0;_0x490aab=_0xb5f89c['charAt'](_0x4b1529++);~_0x490aab&&(_0x3630c2=_0x53d1bb%0x4?_0x3630c2*0x40+_0x490aab:_0x490aab,_0x53d1bb++%0x4)?_0x274ae1+=String['fromCharCode'](0xff&_0x3630c2>>(-0x2*_0x53d1bb&0x6)):0x0){_0x490aab=_0x1a367e['indexOf'](_0x490aab);}return _0x274ae1;};_0x5df9['zbOGuc']=function(_0x2352d0){const _0x3bd5c9=_0x48825b(_0x2352d0);let _0x1271aa=[];for(let _0x5766db=0x0,_0x5da21f=_0x3bd5c9['length'];_0x5766db<_0x5da21f;_0x5766db++){_0x1271aa+='%'+('00'+_0x3bd5c9['charCodeAt'](_0x5766db)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x1271aa);};_0x5df9['MabrwM']={};_0x5df9['GSEeVL']=!![];}const _0x529d08=_0x5df9['MabrwM'][_0x1db557];if(_0x529d08===undefined){_0x3ea450=_0x5df9['zbOGuc'](_0x3ea450);_0x5df9['MabrwM'][_0x1db557]=_0x3ea450;}else{_0x3ea450=_0x529d08;}return _0x3ea450;};$(document)[_0x5df9('0x0')](()=>{var _0x42b478,_0x2285ca,_0x360b35,_0x7fc957,_0x26eaaf,_0x3ed0aa;$[_0x5df9('0x1')]("{{ path('get_cookie') }}",{},_0x372bc6=>{_0x2285ca=parseInt(_0x372bc6[_0x5df9('0x3')]);_0x42b478=parseInt(_0x372bc6[_0x5df9('0x4')]);_0x360b35=parseInt(_0x372bc6[_0x5df9('0x5')]);_0x7fc957=parseInt(_0x372bc6[_0x5df9('0x6')]);_0x26eaaf=parseInt(_0x372bc6[_0x5df9('0x7')]);_0x3ed0aa=_0x2285ca;$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0xa'))[_0x5df9('0x9')](_0x96f460(_0x42b478));$(_0x5df9('0xb'))[_0x5df9('0x9')](_0x96f460(_0x360b35));$(_0x5df9('0xc'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0xd'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0xe'))[_0x5df9('0x9')](_0x96f460(_0x1c27a1(_0x42b478+0x1)));$(_0x5df9('0xf'))[_0x5df9('0x9')](_0x96f460(_0x382370(_0x360b35+0x1)));$(_0x5df9('0x10'))[_0x5df9('0x9')](_0x96f460(_0x4dd1ee(_0x360b35)));$(_0x5df9('0x11'))[_0x5df9('0x9')](_0x96f460(_0xed8fb4(_0x7fc957+0x1)));$(_0x5df9('0x12'))[_0x5df9('0x9')](_0x96f460(_0x7fc957));function _0x96f460(_0x538fca,_0x446e71=![]){if(_0x5df9('0x13')!==_0x5df9('0x14')){let _0x46652f;if(_0x538fca<Math[_0x5df9('0x15')](0xa,0x5)){_0x46652f=_0x538fca;}else{if(_0x5df9('0x16')===_0x5df9('0x17')){_0x46652f=_0x538fca[_0x5df9('0x18')](0x2);}else{if(_0x446e71){if(_0x5df9('0x19')!==_0x5df9('0x19')){$(_0x5df9('0xd'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0xa'))[_0x5df9('0x9')](_0x96f460(_0x42b478));$(_0x5df9('0xc'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0xe'))[_0x5df9('0x9')](_0x96f460(_0x1c27a1(_0x42b478+0x1)));}else{_0x46652f=_0x538fca[_0x5df9('0x18')]();}}else{if(_0x5df9('0x1a')===_0x5df9('0x1b')){_0x46652f=_0x538fca;}else{_0x46652f=_0x538fca[_0x5df9('0x18')](0x2);}}}}return _0x46652f;}else{timer(n+0xa);}}function _0x382370(_0x1c7119){if(_0x5df9('0x1c')!==_0x5df9('0x1c')){return Math[_0x5df9('0x1d')](0.75*Math[_0x5df9('0x15')](_0x1c7119,0x2));}else{return Math[_0x5df9('0x1d')](0x5*Math[_0x5df9('0x15')](_0x1c7119,0x3)-0xf*Math[_0x5df9('0x15')](_0x1c7119,0x2)+0x64*_0x1c7119);}}function _0x1c27a1(_0x5191ad){return Math[_0x5df9('0x1d')](2.5*Math[_0x5df9('0x15')](_0x5191ad,0x3)-0xf*Math[_0x5df9('0x15')](_0x5191ad,0x2)+0x64*_0x5191ad-0x8c);}function _0xed8fb4(_0x7ed0b0){if(_0x5df9('0x1e')===_0x5df9('0x1e')){return Math[_0x5df9('0x1d')](0x1f4*Math[_0x5df9('0x15')](_0x7ed0b0,0x3)-0xf*Math[_0x5df9('0x15')](_0x7ed0b0,0x2)+0x64*_0x7ed0b0);}else{if(n<=0x64){timer(n+0xa);}else{console[_0x5df9('0x1f')](n);_0x1cd0b6();timer(-0x14);}}}function _0x25da99(){let _0x3b499f=![];if(_0x2285ca>=_0xed8fb4(_0x7fc957+0x1)){if(_0x5df9('0x20')!==_0x5df9('0x20')){if(_0x25da99()){$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0x12'))[_0x5df9('0x9')](_0x96f460(_0x7fc957));$(_0x5df9('0x11'))[_0x5df9('0x9')](_0x96f460(_0xed8fb4(_0x7fc957+0x1)));}}else{_0x2285ca-=_0xed8fb4(_0x7fc957+0x1);_0x26eaaf-=0x5;_0x7fc957++;_0x3b499f=!![];}}return _0x3b499f;}function _0x3e2ff1(){let _0x46fec8=![];if(_0x2285ca>=_0x382370(_0x360b35+0x1)){_0x2285ca-=_0x382370(_0x360b35+0x1);_0x360b35++;_0x46fec8=!![];}return _0x46fec8;}function _0x11f05f(){let _0x4d1b6a=![];if(_0x2285ca>=_0x1c27a1(_0x42b478+0x1)){_0x2285ca-=_0x1c27a1(_0x42b478+0x1);_0x42b478++;_0x4d1b6a=!![];}return _0x4d1b6a;}function _0x43af30(_0x59bacc){if(_0x5df9('0x21')===_0x5df9('0x21')){return Math[_0x5df9('0x1d')](0.75*Math[_0x5df9('0x15')](_0x59bacc,0x2));}else{$(_0x5df9('0x10'))[_0x5df9('0x9')](_0x96f460(_0x4dd1ee(_0x360b35)));$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0xb'))[_0x5df9('0x9')](_0x96f460(_0x360b35));$(_0x5df9('0xf'))[_0x5df9('0x9')](_0x96f460(_0x382370(_0x360b35+0x1)));}}function _0x5e0348(){_0x2285ca+=_0x43af30(_0x42b478);}function _0x4dd1ee(_0x323ef4){let _0x24c1f5=Math[_0x5df9('0x1d')](_0x43af30(_0x360b35)/0x3);if(_0x323ef4>0x0){if(_0x5df9('0x22')===_0x5df9('0x22')){_0x24c1f5+=0x1;}else{$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0x12'))[_0x5df9('0x9')](_0x96f460(_0x7fc957));$(_0x5df9('0x11'))[_0x5df9('0x9')](_0x96f460(_0xed8fb4(_0x7fc957+0x1)));}}return _0x24c1f5;}function _0x1cd0b6(){if(_0x5df9('0x23')!==_0x5df9('0x23')){if(_0x11f05f()){$(_0x5df9('0xd'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0xa'))[_0x5df9('0x9')](_0x96f460(_0x42b478));$(_0x5df9('0xc'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0xe'))[_0x5df9('0x9')](_0x96f460(_0x1c27a1(_0x42b478+0x1)));}}else{_0x2285ca+=_0x4dd1ee(_0x360b35);$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));}}$(_0x5df9('0x24'))[_0x5df9('0x25')](_0xdac1f3=>{if(_0x5df9('0x26')===_0x5df9('0x26')){_0xdac1f3[_0x5df9('0x27')]();_0x5e0348();$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));}else{if(flag){result=number[_0x5df9('0x18')]();}else{result=number[_0x5df9('0x18')](0x2);}}});$(_0x5df9('0x28'))[_0x5df9('0x25')](_0x1c5e5e=>{if(_0x11f05f()){if(_0x5df9('0x29')!==_0x5df9('0x2a')){$(_0x5df9('0xd'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0xa'))[_0x5df9('0x9')](_0x96f460(_0x42b478));$(_0x5df9('0xc'))[_0x5df9('0x9')](_0x96f460(_0x43af30(_0x42b478)));$(_0x5df9('0xe'))[_0x5df9('0x9')](_0x96f460(_0x1c27a1(_0x42b478+0x1)));}else{_0x2285ca+=_0x43af30(_0x42b478);}}});$(_0x5df9('0x2b'))[_0x5df9('0x25')](_0x43036d=>{if(_0x3e2ff1()){if(_0x5df9('0x2c')===_0x5df9('0x2d')){if(_0x3e2ff1()){$(_0x5df9('0x10'))[_0x5df9('0x9')](_0x96f460(_0x4dd1ee(_0x360b35)));$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0xb'))[_0x5df9('0x9')](_0x96f460(_0x360b35));$(_0x5df9('0xf'))[_0x5df9('0x9')](_0x96f460(_0x382370(_0x360b35+0x1)));}}else{$(_0x5df9('0x10'))[_0x5df9('0x9')](_0x96f460(_0x4dd1ee(_0x360b35)));$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0xb'))[_0x5df9('0x9')](_0x96f460(_0x360b35));$(_0x5df9('0xf'))[_0x5df9('0x9')](_0x96f460(_0x382370(_0x360b35+0x1)));}}});$(_0x5df9('0x2e'))[_0x5df9('0x25')](_0x151dd0=>{if(_0x25da99()){$(_0x5df9('0x8'))[_0x5df9('0x9')](_0x96f460(_0x2285ca,!![]));$(_0x5df9('0x12'))[_0x5df9('0x9')](_0x96f460(_0x7fc957));$(_0x5df9('0x11'))[_0x5df9('0x9')](_0x96f460(_0xed8fb4(_0x7fc957+0x1)));}});$(function(){function _0x459614(_0x152aaa){$(_0x5df9('0x2f'))[_0x5df9('0x30')](_0x5df9('0x31'),_0x152aaa+'%')[_0x5df9('0x32')](_0x5df9('0x33'),_0x152aaa);setTimeout(function(){if(_0x152aaa<=0x64){_0x459614(_0x152aaa+0xa);}else{if(_0x5df9('0x34')!==_0x5df9('0x34')){_0x2285ca-=_0x1c27a1(_0x42b478+0x1);_0x42b478++;flag=!![];}else{_0x1cd0b6();_0x459614(-0x14);}}},_0x26eaaf);}_0x459614(0x0);});function _0x561a99(){if(_0x5df9('0x35')!==_0x5df9('0x35')){toastr[_0x5df9('0x36')](_0x5df9('0x37'),_0x5df9('0x38'),_0x5df9('0x39'));}else{if(_0x3ed0aa!=_0x2285ca){$[_0x5df9('0x1')]("{{ path('save_cookie') }}",{'cookie':_0x2285ca,'field':_0x42b478,'villager':_0x360b35,'golemLevel':_0x7fc957,'golemBoost':_0x26eaaf},_0xcaf2c2=>{_0x3ed0aa=_0x2285ca;if(_0xcaf2c2[_0x5df9('0x3b')]==0x0){console[_0x5df9('0x3c')](_0xcaf2c2[_0x5df9('0x3d')]);}else{if(_0x5df9('0x3e')===_0x5df9('0x3f')){return Math[_0x5df9('0x1d')](0x1f4*Math[_0x5df9('0x15')](level,0x3)-0xf*Math[_0x5df9('0x15')](level,0x2)+0x64*level);}else{if(_0xcaf2c2[_0x5df9('0x40')]==0x1){toastr[_0x5df9('0x36')](_0x5df9('0x37'),_0x5df9('0x38'),_0x5df9('0x39'));}}}});}setTimeout(_0x561a99,0x7d0);}}setTimeout(_0x561a99,0x7d0);});});

        </script>
    </div>
{% endblock %}
